{

  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-optional-chaining"],
    ["transform-es2015-modules-commonjs-simple", {
      "noMangle": true
    }]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}